.product-list {
  margin-top: 20px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.table-container {
  padding: 20px;
  background-color: rgb(242, 234, 249);
}
.add-button {
  background-color: tomato;
  color: white;
  margin-left: 30px;
}
.table {
  /* margin: 20px; */
  padding: 10px;
}
.search-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search-btn {
  width: 17%;
  border: 2px solid red;
}
.btn-card {
  display: flex;
  justify-content: end;
}
