

/* Add any other global styles here */

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
